# application-prod.yml
spring:
  datasource:
    url: jdbc:mysql://prod-db:3306/demo_prod
    username: prod_user
    password: ${DB_PASSWORD}
  jpa:
    show-sql: false

logging:
  level:
    com.example.demo: INFO
